.product-container(
  ng-click="spcVm.clickItem()"
)
  .description
    ng-md-icon.icon(
      icon="{{spcVm.active ? 'check_box' : 'check_box_outline_blank' }}"
    )
    div
      .title {{ ::(spcVm.product.titulo || spcVm.product.name)}}
      .descripcion {{ ::spcVm.product.descripcion }}
  .price
    price(amount="{{ ::spcVm.product.precio_cents }}"
          currency="{{ ::spcVm.product.precio_currency }}")
.add-product(
  ng-class="{'active-product': spcVm.active}"
)
  product-counter(
    ng-if="spcVm.active"
    options="spcVm.counterOptions"
  )
