.product-container
  .description
    ng-md-icon.icon(
      icon="{{spcVm.active ? 'check_box' : 'check_box_outline_blank' }}"
      ng-click="spcVm.clickItem()"
    )
    .title {{ ::spcVm.product.titulo }}
  .price
    price(amount="{{ ::spcVm.product.precio_cents }}"
          currency="{{ ::spcVm.product.precio_currency }}")
.add-product(
  ng-class="{'active-product': spcVm.active}"
)
  product-counter(
    ng-if="spcVm.active"
    options="spcVm.counterOptions"
  )
