ion-view
  ion-nav-title
    .alt-logo

  ion-nav-buttons(side="right")

  ion-content.service-provider-index.resource-collection
    .row
      label.item.search-input
        i.icon.ion-search.placeholder-icon
        input(
          type="text"
          placeholder="Buscar"
          ng-model="searchName"
        )

    .provider-cards(
      ng-if="servicesProvidersVM.loaded"
    )
      provider-card(
        ng-repeat="provider in servicesProvidersVM.providers | filter:searchName"
        provider="provider"
      )
      
    .provider-cards(
      ng-if="!servicesProvidersVM.loaded"
    )
      skeleton(number=5)
      
  cart-button(
    over-tab-nav="true"
  )
  
  tabs-nav(
    options="servicesProvidersVM.tabsOptions"
  )
