ion-view
  ion-nav-title
    .alt-logo

  ion-nav-buttons(side="right")
    cart-button
    
  ion-content.service-provider-index.resource-collection
    .row
      label.item.search-input
        i.icon.ion-search.placeholder-icon
        input(
          type="text"
          placeholder="Buscar"
          ng-model="searchName"
        )

    .service-provider-list
      .service-provider-item.col(
        ng-repeat="provider in servicesProvidersVM.providers | filter:searchName"
        ui-sref="app.categories.provider({ categoryId: provider.provider_category_id, providerId: provider.id })"
        class="{{ ::provider.officeIsOpen.isOpen ? 'open' : 'closed'}}"
      )
        .provider-info-wrapper
          .provider-logo-wrapper
            .provider-logo-img(
              style="background-image: url('{{ ::provider.logotipo_url }}')"
            )

          .provider-title {{ ::provider.nombre_establecimiento }}
          //- .provider-activity {{ ::provider.actividad_economica }}
          .provider-test-provider-wrapper(
            ng-if="provider.test_provider"
            class="assertive"
          ) {{ ::("provider.isTestProvider" | translate)}}
          .provider-schedule
            provider-profile-schedule(provider-profile="provider")
