ion-view
  ion-nav-title
    .alt-logo

  ion-nav-buttons(side="right")
    cart-button

  ion-content.service-provider-index.resource-collection
    .row
      label.item.search-input
        i.icon.ion-search.placeholder-icon
        input(
          type="text"
          placeholder="Buscar"
          ng-model="searchName"
        )

    .provider-cards
      provider-card(
        ng-repeat="provider in servicesProvidersVM.providers | filter:searchName"
        provider="provider"
      )
