form.address-form-page(
  name="pfaVm.addressForm"
  ng-submit="pfaVm.processAddress(pfaVm.addressFormData)"
  novalidate
)
  ion-content.addresses-page.resource-form
    maps(
      lat="pfaVm.addressFormData.lat"
      lon="pfaVm.addressFormData.lon"
      default-in-current-geolocation="pfaVm.defaultInCurrentGeolocation"
      direccion="pfaVm.addressFormData.direccion_uno"
      direccion-dos="pfaVm.addressFormData.direccion_dos"
      geolocation-message-key="pfaVm.geolocationMessageKey"
    )
    show-error(array-messages='pfaVm.messages.lat || pfaVm.messages.lon')
    .text-stable {{ pfaVm.geolocationMessageKey | translate }}

  .form-address(
    ng-class="{'expand': pfaVm.expand}"
  )
    ng-md-icon.icon(
      icon="{{pfaVm.expand ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}"
      size="30"
      ng-click="pfaVm.expand = !pfaVm.expand"
    )
    label.item.item-input.item-stacked-label(
      ng-class="{'item-error': pfaVm.messages.direccion_uno}"
    )
      span.input-label
        | {{::("addresses.addressOne"|translate)}} *
      input(
        type='text'
        ng-model='::pfaVm.addressFormData.direccion_uno'
        placeholder='{{ ::("addresses.addressOnePlaceholder" | translate) }}'
        ng-focus="pfaVm.expand = true"
        required
      )
    .errors-wrapper
      show-error(array-messages='pfaVm.messages.direccion_uno')

    label.item.item-input.item-stacked-label(
      ng-class="{'item-error': pfaVm.messages.direccion_dos}"
    )
      span.input-label {{::("addresses.addressTwo"|translate)}}
      input(
        type='text'
        ng-model='pfaVm.addressFormData.direccion_dos'
        placeholder='{{ ::("addresses.addressTwoPlaceholder" | translate) }}'
        ng-focus="pfaVm.expand = true"
      )
    .errors-wrapper
      show-error(array-messages='pfaVm.messages.direccion_dos')

    label.item.item-input.item-stacked-label(
      ng-class="{'item-error': pfaVm.messages.referencia}"
    )
      span.input-label {{::("addresses.reference"|translate)}} *
      input(
        type='text'
        ng-model='pfaVm.addressFormData.referencia'
        placeholder='Ej: casa amarilla, segundo piso'
        ng-focus="pfaVm.expand = true"
        required
      )
    .errors-wrapper
      show-error(array-messages='pfaVm.messages.referencia')

    label.item.item-input.item-stacked-label(
      ng-class="{'item-error': pfaVm.messages.nombre}"
    )
      span.input-label {{::("addresses.name"|translate)}}
      input(
        type='text'
        ng-model='pfaVm.addressFormData.nombre'
        placeholder='{{ ::("addresses.namePlaceholder" | translate) }}'
        ng-focus="pfaVm.expand = true"
      )
    .errors-wrapper
      show-error(array-messages='pfaVm.messages.nombre')

  ion-footer-bar.bar-stable.bar-footer--tall
    button.button-full.button-main(
      type="submit"
      ng-disabled="pfaVm.addressFormData.direccion_uno === undefined || pfaVm.addressFormData.referencia === undefined"
    ) {{ ::pfaVm.inUpdateMode ? ("addresses.updateBtnText"|translate) : ("addresses.saveBtnText"|translate) }}
