ion-view.addresses-page(
  view-title="{{::('profile.tabs.addresses'|translate)}}"
)
  ion-nav-title
    .alt-logo

  ion-content.addresses-content
    .empty-addressess(ng-if="!pfaVm.addresses.length")
      | {{::('addresses.noAddressesSaved'|translate)}}
    .addresses-wrapper.addresses-wrapper--fix-scroll
      .card-information(
        ng-repeat="address in ::pfaVm.addresses"
        ng-click="pfaVm.redirectToUpdateAddressView(address.id)"
      )
        .row.user.information
          .row-info
            .details
              .name.semibold {{ address.nombre || address.direccion_uno }}
        .row.information
          .row-info.no-border
            .details.full
              .map-image
                img.image.map(
                  ng-src="{{ address.static_map_image }}"
                )
        .row.information
          .row-info.no-border
            .details.start
              .label {{::('addresses.addressOne'|translate)}}
              .name {{address.direccion_uno}}
        .row.information(ng-if="address.direccion_dos")
          .row-info.no-border
            .details.start
              .label {{::('addresses.addressTwo'|translate)}}
              .name {{address.direccion_dos}}
        .row.information(ng-if="address.referencia")
          .row-info.no-border
            .details.start
              .label {{::('addresses.reference'|translate)}}
              .name {{address.referencia}}

  ion-footer-bar.bar-stable.bar-footer--tall
    button.button-full.button-main(
      ng-click="pfaVm.redirectToNewAddressView()"
    ) {{::("addresses.addAddressBtnText"|translate)}}
