ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-content.main-sidebar
      ion-list
        ion-item.sidebar-header-current-user--wrapper(
          menu-close=''
        )
          sidebar-header-current-user

        ion-item(
          menu-close=''
          ui-sref='courier.orders'
          ng-class='{"selected": state.current.name === "courier.orders"}'
        )
          ng-md-icon.icon(
            icon="shopping_cart"
          )
          span {{::("menu.courier.orders"|translate)}}

        ion-item(
          menu-close=''
          ui-sref='courier.shippings'
          ng-class='{"selected": state.current.name === "courier.shippings"}'
        )
          ng-md-icon.icon(
            icon="shopping_basket"
          )
          span {{::("menu.courier.myShipping"|translate)}}
        //- TODO
          ion-item
            | {{::("menu.courier.account"|translate)}}
          ion-item
            | {{::("menu.courier.payments"|translate)}}
          ion-item
            | {{::("menu.courier.history"|translate)}}
          ion-item
            | {{::("menu.invite"|translate)}}

        ion-item.main-action.with-margin(
          menu-close=''
          ui-sref='app.services.providers'
          ng-class='{"selected": state.current.name === "app.services.providers"}'
        )
          ng-md-icon.icon(
            icon="restaurant"
          )
          span {{::("menu.user.buyer"|translate)}}

        //- ion-item.user-type(menu-close='' ui-sref='provider.items.index', ng-if='user.provider_profile')
        //-   | {{::("menu.user.provider"|translate)}}


        ion-item.main-action.with-margin(
          menu-close
          ng-click='loginVm.logout()'
          ng-controller='LoginController as loginVm'
        )
          ng-md-icon.icon(
            icon="power_settings_new"
          )
          .close {{::("menu.logout"|translate)}}
