ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-content.main-sidebar
      ion-list
        ion-item.sidebar-header-current-user--wrapper(
          menu-close=''
        )
          sidebar-header-current-user(
            show-profile-link="true"
          )

        //- ion-item.item-complex
        //-   .item-content
        //-     i.icon.ion-home
        //-     | {{ ::( "globals.index" | translate ) }}

        ion-item(
          menu-close=''
          ui-sref='app.services.providers'
          ng-class='{"selected": state.current.name === "app.services.providers"}'
        )
          ng-md-icon.icon(
            icon="restaurant"
          )
          span {{ ::('menu.client.providers' | translate) }}

        //- hide categories link for now
          ion-item.gray-item(
            menu-close=''
            ui-sref='app.categories.index'
          )
            li
              .inner-content {{ ::("menu.client.category" | translate) }}

        //- hide categories for now
          ion-item(
            menu-close=''
            ui-sref='app.categories.index'
          ) {{ ::("menu.client.category" | translate) }}
          sidebar-only-on-categories
            ion-item.gray-item(
              ng-repeat='categorie in menuVm.categories'
              ui-sref='app.categories.show({id: categorie.id})'
              menu-close=''
            )
              li
                .inner-content {{::categorie.titulo}}

        //- hide cart for now
          ion-item(menu-close='' ui-sref='app.cart.index')
            | {{::("menu.client.cart"|translate)}}

        //- ion-item.item-complex
        //-   .item-content
        //-     i.icon.ion-person
        //-     | {{::("menu.account"|translate)}}

        ion-item(
          menu-close=''
          ui-sref='app.profile.addresses.index'
          ng-class='{"selected": state.current.name === "app.profile.addresses.index"}'
        )
          ng-md-icon.icon(
            icon="person_pin_circle"
          )
          span {{::("menu.client.addresses"|translate)}}

        ion-item(
          menu-close=''
          ui-sref='app.customerorders.index'
          ng-class='{"selected": state.current.name === "app.customerorders.index"}'
        )
          ng-md-icon.icon(
            icon="shopping_basket"
          )
          span {{ ::("menu.client.myOrders" | translate) }}

        //- wishlists hidden for now
          ion-item.gray-item(
            menu-close=''
            ui-sref='app.wishlist.index'
          )
            li
              .inner-content
                | {{::("menu.client.myLists"|translate)}}

        ion-item(
          menu-close=''
          ui-sref='app.billing.addresses'
          ng-class='{"selected": state.current.name === "app.billing.addresses"}'
        )
          ng-md-icon.icon(
            icon="insert_drive_file"
          )
          span {{::("menu.client.billingAddresses"|translate)}}
        //- not built yet
          ion-item.gray-item
            li
              .inner-content
                | {{::("menu.client.coupon"|translate)}}
          ion-item.gray-item
            li
              .inner-content
                | {{::("menu.client.payments"|translate)}}

        //- ion-item(menu-close='' ui-sref='app.places.index')
        //-   i.icon.ion-location
        //-   | {{::("menu.locations"|translate)}}

        //- not built yet
          ion-item
            | {{::("menu.invite"|translate)}}

        //- ion-item.user-type(
        //-   menu-close=''
        //-   ui-sref='app.provider.welcome'
        //-   ng-if='!user.provider_profile'
        //- )
        //-   i.icon.ion-pricetags
        //-   | {{::("menu.user.provider"|translate)}}
        //- ion-item.user-type(
        //-   menu-close=''
        //-   ui-sref='provider.items.index'
        //-   ng-if='user.provider_profile'
        //- )
        //-   i.icon.ion-pricetags
        //-   | {{::("menu.user.provider"|translate)}}
        //- ion-item.user-type(
        //-   menu-close=''
        //-   ui-sref='app.courier.welcome'
        //-   ng-if='!user.courier_profile'
        //- )
        //-   i.icon.ion-model-s
        //-   | {{::("menu.user.courier"|translate)}}
        ion-item.main-action.with-margin(
          menu-close=''
          ui-sref='courier.orders.new'
          ng-if='user.courier_profile'
        )
          ng-md-icon.icon(
            icon="directions_bike"
          )
          span {{::("menu.user.courier"|translate)}}

        ion-item.main-action.with-margin.item-complex(
          menu-close
          ng-controller='LoginController as loginVm'
          ng-click='loginVm.logout()'
        )
          a.item-content
            ng-md-icon.icon(
              icon="power_settings_new"
            )
            span {{::("menu.logout"|translate)}}
