ion-view.item-page(
  view-title='{{::item.titulo}}'
)
  ion-nav-title
    .alt-logo
  ion-content.item-show-page
    slick-wrapper(settings="providerItemVm.slickSettings" ng-if="providerItemVm.imagesLoaded")
      .slick-container(
        ng-repeat="image in ::providerItemVm.providerItem.imagenes track by $index"
        ng-style="{'background-image':'url({{::image.imagen_url | defaultImage}})'}"
      )
      
    .item-image(
      ng-if="!providerItemVm.providerItem.imagenes.length"
    )
      .img(
        ng-style="{'background-image':'url({{::providerItemVm.providerItem.imagenes[0].imagen_url | defaultImage}})'}"
      )
      
    .resource-detail-summar
      .row.wrapper
        .descripcion.col.col-70
          h3 {{providerItemVm.providerItem.titulo}}
          p {{providerItemVm.providerItem.descripcion}}
          price(amount="{{providerItemVm.providerItem.precio_cents}}"
                currency="{{providerItemVm.providerItem.precio_currency}}")
        .switch.col.col-30
          label En Stock
          ion-toggle(
            ng-change="providerItemVm.updateStock()"
            ng-model="providerItemVm.providerItem.en_stock"
            toggle-class="toggle-energized"
          )
      
    .list.list-inset.list--no-borders.resource-details-table
      p {{::("item.productDetails"|translate)}}
      .row
        .col.col-50.label {{::("item.cantidad"|translate)}}
        .col.col-50.value
          | {{::("item.cantidadPrefix"|translate)}}{{providerItemVm.providerItem.cantidad}}
      .row
        .col.col-50.label {{::("item.providerItemCategory"|translate)}}
        .col.col-50.value {{providerItemVm.providerItemCategoryName}}

    .list.list-inset.list--no-borders.text-center
      .button.button-clear.button-assertive(
        ng-click="providerItemVm.unregisterItem()"
      ) {{::("item.unregisterItem"|translate)}}

  ion-footer-bar.bar-stable.bar-footer--tall
    button.button-full.button-main.button-primary(
      ng-click="providerItemVm.showEditModal()"
    ) {{::("globals.edit"|translate)}}
