.cart-main-button(
  ui-sref='app.cart.index'
  ng-class="{'over': cartButtonVM.overTabNav === true}"
)
  .badge.badge-light.float-counter(
    ng-if="cartButtonVM.numberItems > 0"
  ) {{ cartButtonVM.numberItems }}
  ng-md-icon.icon(
    icon="shopping_cart"
    size="30"
  )
