ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo

  form(
    name="errVm.errandForm"
    ng-submit="errVm.submitProcess()"
    novalidate
  )
    ion-content.errands-page
      .header-message
        p.main Hola! que necesitas?
        span.tip Un mensajero se comunicara contigo una vez reciba este mensaje.
      .place.input-form
        span.label Lugar de Entrega
        .select-address-container(
          ng-click="errVm.inputOptions.onClick()"
        )
          .select-address(
            ng-if="!errVm.inputOptions.address"  
          )
            | {{errVm.inputOptions.text}}
          .select-addresss(
            ng-if="errVm.inputOptions.address"
          )
            .address-row
              .content-address
                .address
                  .one {{ errVm.inputOptions.address.direccion_uno }}
                  .two {{ errVm.inputOptions.address.direccion_dos }}
              .map
                .image(
                  style="background-image: url('{{errVm.inputOptions.address.static_map_image}}')"
                )
      .description.input-form
        span.label Mensaje
        textarea(
          msd-elastic
          ng-model='errVm.errand.description'
          required
        )

    ion-footer-bar.bar-stable.bar-footer--tall
      button.button-full.button-main(
        type="submit"
        ng-disabled='errVm.errandForm.$invalid || errVm.inputOptions.address == null'
      ) {{::("globals.send"|translate)}}
