ion-view.errands-page(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo

  form(
    name="errVm.errandForm"
    ng-submit="errVm.submitProcess()"
    novalidate
  )
    ion-content
      .header-message
        p.main ¿Cómo te podemos servir?
      .place.input-form
        span.label Lugar de Entrega
        select-address(
          addresses="errVm.addresses"
          on-selected="errVm.onSelectedAddress"
        )
      .description.input-form
        span.label Mensaje
        textarea(
          msd-elastic
          ng-model='errVm.errand.description'
          placeholder="Por favor detalla las instrucciones de tu pedido"
          required
        )

      .after-form-message
        ng-md-icon.icon(icon="help_outline" size="40")
        p.tip Recogemos (o entregamos) un paquete por ti, hacemos tus compras en tu supermercado favorito, te llevamos medicinas, bebidas o básicamente lo que desees!

    ion-footer-bar.bar-stable.bar-footer--tall.set-to-bottom-on-keyboard-open
      button.button-full.button-main.button-primary(
        type="submit"
        ng-disabled='errVm.errandForm.$invalid || errVm.address == null'
      ) {{::("globals.send"|translate)}}

    tabs-nav
