slick-wrapper(settings="productVm.slickConfig")
  .slick-container(
    ng-repeat="image in ::productVm.product.imagenes track by $index"
    ng-style="{'background-image':'url({{::image.imagen_url}})'}"
  )

.resource-detail-summary
  h3 {{productVm.product.titulo}}
  p {{productVm.product.descripcion}}

.list.list-inset
  label.item.item-input.item-stacked-label.observaciones-wrapper
    span.input-label {{ ::('cart.observations' | translate) }}
    textarea(
      msd-elastic
      ng-model='productVm.item.observaciones'
      ng-disabled='productVm.disableInputs'
      placeholder='{{ ::("cart.observacionesPlaceholder" | translate)}}'
    )
  show-error(array-messages="productVm.messages")

.center-panel
  product-counter(options="productVm.counterOptions")
