slick-wrapper(
  settings="productVm.slickConfig"
  ng-if="productVm.product.imagenes.length"
)
  .slick-container(
    ng-repeat="image in ::productVm.product.imagenes track by $index"
    ng-style="{'background-image':'url({{::image.imagen_url | defaultImage}})'}"
  )
.item-image(
  ng-if="!productVm.product.imagenes.length"
)
  .img(
    ng-style="{'background-image':'url({{::productVm.product.imagenes[0].imagen_url | defaultImage}})'}"
  )
.resource-detail-summary
  h3 {{productVm.product.titulo}}
  p {{productVm.product.descripcion}}

.subproducts
  .subproduct-container(
    ng-repeat="product in ::productVm.subProducts track by $index"
  )
    subproduct-row(
      product="product"
      on-change-amount="productVm.onChangeChildrenItem"
    )

.list.list-inset.observaciones-wrapper
  label.item.item-input.item-stacked-label.observaciones
    span.input-label {{ ::('cart.observations' | translate) }}
    textarea(
      msd-elastic
      ng-model='productVm.item.observaciones'
      ng-disabled='productVm.disableInputs'
      placeholder='{{ ::("cart.observacionesPlaceholder" | translate)}}'
    )
  show-error(array-messages="productVm.messages")
