ion-view(
  view-title='{{::("menu.product"|translate)}}'
)
  ion-nav-title
    .alt-logo

  ion-nav-buttons(side="right")
    cart-button

  ion-content.item-show-page
    form.product-wrapper(
      name="selectProductForm"
      ng-submit='productVm.selectProduct()'
    )
      div(
        ng-include="'templates/product/product.html'"
      )

  ion-footer-bar.bar-stable.item-show-footer.bar-footer--tall
    product-counter(
      ng-if="!productVm.product.is_group"
      options="productVm.counterOptions"
    )

    button.button-full.button-main(
      ng-click="productVm.runAction(productVm.actions.cart)"
      ng-disabled="!productVm.item.cantidad || productVm.disableInputs || !productVm.canAdd"
    ) {{::('product.addCar' | translate)}}
