ion-view(
  view-title="{{::('profile.tabs.info'|translate)}}"
)
  ion-nav-title
    .alt-logo

  ion-content.profile-page
    .profile-container
      .profile-user
        .user
          .image
            img.img-profile(
              ng-src="{{piVm.user.custom_image_url || '../images/avatar.png'}}"
            )
          .information
            .name {{piVm.user.name}}
            .birth {{piVm.user.email}}
            button.button-ghost(
              ng-click="piVm.showNewModal(piVm.user)"
            ) {{::('globals.editProfile'|translate)}}
        .details
          .phone.wrapper
            ng-md-icon.icon(
              icon="phone"
              size="20"
            )
            | {{(piVm.user.phone_number) || ("globals.noInformation"|translate) }}
          .email.wrapper
            ng-md-icon.icon(
              icon="location_on"
              size="20"
            )
            | {{piVm.user.current_place.full_str}}
      .options
        .option(
          ng-repeat="option in ::piVm.options"
          ui-sref="{{::option.sref}}"
        )
          .wrapper
            ng-md-icon.icon(
              icon="{{::option.icon}}"
              size="20"
            )
            .value {{option.text}}
          
          ng-md-icon.icon(
            icon="keyboard_arrow_right"
            size="20"
          )
          
        .option.logout(
          ng-controller='LoginController as loginVm'
          ng-click='loginVm.logout()'
        )
          .wrapper
            ng-md-icon.icon(
              icon="power_settings_new"
            )
            span {{::("menu.logout"|translate)}}
          ng-md-icon.icon(
            icon="keyboard_arrow_right"
            size="20"
          )
          
    // until we update
    .list.hide
      .row
        .col.col-50.label {{::("user.password"|translate)}}
        .col.col-50.value ********
    
  tabs-nav
