.items-delivery-container
  .provider-item.col(
    ng-repeat="item in liVm.data.customer_order_items track by $index"
    ng-if="liVm.slickFlag"
    ng-init="image = item.provider_item.imagenes[0]"
  )
    .item-container(ng-click="liVm.onClick()(item)" class="clickeable")
      .img-wrapper
        .img(ng-style="{'background-image':'url({{::(image.thumbnail_url | defaultImage)}})'}")
        
      .info-wrapper.inverse
        .provider-item--title {{ ::item.provider_item.titulo }}
        .provider-item--price
          .customer-item--quantity
            span.quantity {{ ::item.cantidad }} x 
            price(amount="{{item.provider_item_precio_cents}}"
                  currency="{{item.provider_item_precio_currency}}")
          .customer-item--total
            price(amount="{{item.provider_item_precio_cents * item.cantidad}}"
                  currency="{{item.provider_item_precio_currency}}")
      
