ion-view.billing-addresses-page(
  view-title="{{::('billingAddress.legendForm'|translate)}}"
)
  ion-nav-title
    .alt-logo
  ion-content.billing-addresses-content
    .billing-addresses
      .card-information.invoice(
          ng-repeat='item in billingAddressesVm.billingAddresses'
        )
        .row.user.information
          .row-info
            .details
              .name.semibold {{ ::("order.invoiceInfo"|translate)}}
            .details
              .name
                .button-link.secondary(
                  ng-click="billingAddressesVm.showEditModal(item, $index)"
                )
                  | {{ ::("globals.edit" | translate) }}
        .row.information
          .row-info.no-border
            .details.start
              .label {{ "client.ruc" | translate }}
              .name {{ ::(item.ruc) }}
            .details.end(
              ng-if="item.telefono"
            )
              .label {{ "client.telefono" | translate }}
              .name {{ ::(item.telefono) }}
        .row.information
          .row-info.no-border
            .details.start
              .label {{ "client.razonSocial" | translate }}
              .name {{ ::(item.razon_social) }}
        .row.information
          .row-info.no-border
            .details.start
              .label {{ "client.direccion" | translate }}
              .name {{ ::(item.direccion) }}
        .row.information(
              ng-if="item.email"
            )
            .row-info.no-border
              .details.start
                .label {{ "client.email" | translate }}
                .name {{ ::(item.email) }}

  ion-footer-bar.bar-stable.bar-footer--tall
      button.button-full.button-main(
        ng-click="billingAddressesVm.showNewModal()"
      ) {{::("billingAddress.newBillingAddress"|translate)}}
