.card-information(
  ng-class='coVm.courierOrder.theme'
)
  .rows(
    ng-if="coVm.type !== 'status'"
  )
    .row.information
      .row-info.no-border
        .details
          .label {{ "client.client" | translate }}
          .user
            img.image(
              ng-src="{{coVm.courierOrder.customer_image}}"
            )
            .name {{::(coVm.courierOrder.customer_name)}}
    .row.information
      .row-info.no-border
        .details.start
          .label {{ ::("courier.deliveryAddresses" | translate) }}
          .name {{ coVm.courierOrder.address_one }}
          .name {{ coVm.courierOrder.address_two }}
    .row.information(
      ng-if="coVm.courierOrder.provider_name"
    )
      .row-info.no-border
        .details.start
          .label {{ ::("shippingRequest.providerName" | translate) }}
          .name {{ ::(coVm.courierOrder.provider_name) }}
    .row.information
      .row-info.no-border
        .details.start(
          ng-if="coVm.courierOrder.subtotal"
        )
          .label {{ ::("order.summary.subtotal" | translate) }}
          .name
            price(amount="{{coVm.courierOrder.subtotal}}"
                  currency="{{coVm.courierOrder.currency}}")
        .details(
          ng-class="{'end' : coVm.courierOrder.subtotal, 'start' : !coVm.courierOrder.subtotal}"
        )
          .label {{ ::("order.summary.shipping" | translate) }}
          .name
            price(amount="{{coVm.courierOrder.shipping_price}}"
                  currency="{{coVm.courierOrder.currency}}")
    .row
      .separator
        button.button.button-small(
          ng-click="coVm.onClickOrder()"
        )
          | {{ ::("shippingRequest.takeRequest" | translate) }}
