.card-information(
  ng-class='coVm.order.theme'
)
  .rows
    .row.information
      .row-info.no-border
        .details.start
          .label {{ "client.client" | translate }}
          .user
            img.image(
              ng-src="{{coVm.order.customer_image}}"
            )
            .name {{::(coVm.order.customer_name)}}
        .details.end
          .label LLAMAR
          .name
            .phone-number
              a(
                ng-href="tel:{{coVm.order.customer_phone_number}}"
              )
                ng-md-icon.action(
                  icon="phone"
                  size="20"
                )
    .row.information
      .row-info.no-border
        .details.start
          .label {{ ::("courier.deliveryAddresses" | translate) }}
          .name {{ coVm.order.address_one }}
          .name {{ coVm.order.address_two }}
    .row.information(
      ng-if="coVm.order.provider_name"
    )
      .row-info.no-border
        .details.start
          .label {{ ::("shippingRequest.providerName" | translate) }}
          .name {{ ::(coVm.order.provider_name) }}
    .row.information
      .row-info.no-border
        .details.start(
          ng-if="coVm.order.subtotal"
        )
          .label {{ ::("order.summary.subtotal" | translate) }}
          .name
            price(amount="{{coVm.order.subtotal}}"
                  currency="{{coVm.order.currency}}")
        .details(
          ng-class="{'end' : coVm.order.subtotal, 'start' : !coVm.order.subtotal}"
        )
          .label {{ ::("order.summary.shipping" | translate) }}
          .name
            price(amount="{{coVm.order.shipping_price}}"
                  currency="{{coVm.order.currency}}")
    .row
      .separator
        button.button.button-small()
          | {{ ::("shippingRequest.takeRequest" | translate) }}
