.card-information(
  ng-class='coCardVm.courierOrder.theme'
  ng-if="coCardVm.type !== 'status'"
)
  .rows(
    ng-if="coCardVm.type !== 'status'"
  )
    .row.information
      .row-info.no-border
        .details
          .label {{ "client.client" | translate }}
          .user
            img.image(
              ng-src="{{coCardVm.courierOrder.customer_image}}"
            )
            .name {{::(coCardVm.courierOrder.customer_name)}}
    .row.information
      .row-info.no-border
        .details.start
          .label {{ ::("courier.deliveryAddresses" | translate) }}
          .name {{ coCardVm.courierOrder.address_one }}
          .name {{ coCardVm.courierOrder.address_two }}
    .row.information(
      ng-if="coCardVm.courierOrder.provider_name"
    )
      .row-info.no-border
        .details.start
          .label {{ ::("shippingRequest.providerName" | translate) }}
          .name {{ ::(coCardVm.courierOrder.provider_name) }}
    .row.information
      .row-info.no-border
        .details.start(
          ng-if="coCardVm.courierOrder.subtotal"
        )
          .label {{ ::("order.summary.subtotal" | translate) }}
          .name
            price(amount="{{coCardVm.courierOrder.subtotal}}"
                  currency="{{coCardVm.courierOrder.currency}}")
        .details(
          ng-class="{'end' : coCardVm.courierOrder.subtotal, 'start' : !coCardVm.courierOrder.subtotal}"
        )
          .label {{ ::("order.summary.shipping" | translate) }}
          .name
            price(amount="{{coCardVm.courierOrder.shipping_price}}"
                  currency="{{coCardVm.courierOrder.currency}}")
    .row
      .separator
        button.button.button-small(
          ng-click="coCardVm.onClickOrder()"
        )
          | {{ ::("shippingRequest.takeRequest" | translate) }}


.shipping-status-request(
  ng-if="coCardVm.type === 'status'"
  ng-class="coCardVm.courierOrder.status"
)
  .row.status
    .order-info
      span
        ng-md-icon.icon(
          icon="{{::coCardVm.getIconStatus(coCardVm.courierOrder.status)}}"
          size="20"
        )
      span.status
        | &nbsp;
        | {{ ("shippingRequest.status." + coCardVm.courierOrder.status | translate) }}

  .row.user.information
    .order-info
      span.order-kind
        | {{ coCardVm.courierOrder.translation_order_kind | translate }} {{ coCardVm.courierOrder.id}}
        
  .row.user.information
    .order-info
      .details
        .name {{ coCardVm.courierOrder.customer_name }}
        .cost
      img.img-provider(
        ng-src="{{ ::coCardVm.courierOrder.customer_image}}"
      )
  .row.provider.information
    .order-info
      .details
        .name {{ coCardVm.courierOrder.provider_name }}
        .cost
          .subtotal.value(
            ng-if="coCardVm.courierOrder.subtotal"
          )
            span
              | {{ ::("order.summary.subtotal" | translate) + ': '}}
            span.semibold(
              ng-if="coCardVm.courierOrder.subtotal"
            )
              price(amount="{{coCardVm.courierOrder.subtotal}}"
                    currency="{{coCardVm.courierOrder.currency}}")
          .total.value
            span
              | {{ ::("order.summary.shipping" | translate) + ': '}}
            span.semibold
              price(amount="{{coCardVm.courierOrder.shipping_price}}"
                    currency="{{coCardVm.courierOrder.currency}}")
      img.img-provider(
        ng-src="{{ ::coCardVm.courierOrder.provider_image }}"
        ng-if="coCardVm.courierOrder.provider_image"
      )
  .row
    .order-info.time
      shipping-request-dispatch-at(
        dispatch-at="coCardVm.courierOrder.assigned_at"
      )
