ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.courier-shipping-request-index-list.courier-shipping-request-common
    .list--top-narrow
      span
        | {{ ::("courier.labels.found" | translate) }}
        |  {{ orVm.totalOrders }}
        |  {{ ::("courier.labels.closeToYou" | translate) }}

    .card-order
      .shipping-request-container(
        ng-repeat="order in orVm.orders"
      )
        .shipping-request
          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("client.client" | translate) }}
                .information.logo-image
                  img.image(
                    ng-src="{{ order.customer_order.customer_profile.image_url }}"
                  )
                  .name {{ order.customer_order.customer_profile.name }}
              .phone-number
                a(
                  ng-href="tel:{{order.customer_order.customer_profile.phone_number}}" 
                )
                  ng-md-icon.icon(
                    icon="phone"
                    size="20"
                  )

          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("courier.deliveryAddresses" | translate) }}
                .information
                  .name {{ order.customer_order_delivery.customer_address_attributes.direccion_uno }}
                  .name {{ order.customer_order_delivery.customer_address_attributes.direccion_dos }}

          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("shippingRequest.providerName" | translate) }}
                .information
                  .name {{ order.provider_profile.nombre_establecimiento}}
          
          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("order.summary.subtotal" | translate) }}
                .information
                  price(amount="{{order.customer_order.subtotal_items_cents}}"
                       currency="{{order.customer_order.subtotal_items_currency}}")
              .details
                .label
                 | {{ ::("order.summary.shipping" | translate) }}
                .information
                 price(amount="{{order.customer_order_delivery.shipping_fare_price_cents}}"
                           currency="{{order.customer_order.subtotal_items_currency}}")

          .row
            .separator
              button.button.button-small(
                ng-click="orVm.showTakeRequestModal(order)"
              )
                | {{ ::("shippingRequest.takeRequest" | translate) }}

    .list--bottom-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
