ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.courier-shipping-request-index-list.courier-shipping-request-common
    .list--bottom-narrow
      p
        | {{ ::("courier.labels.found" | translate) }}
        |  {{ orVm.totalOrders }}
        |  {{ ::("courier.labels.closeToYou" | translate) }}

    .card-order
      .shipping-request-container(
        ng-repeat="order in orVm.orders"
        ui-sref='courier.order({ id: order.id, order: order})'
      )
        .shipping-request
          //- .row.location
          //-   .order-info
          //-     .label 
          //-       | {{::("courier.labels.currentLocation"| translate)}}
          //-     .distance-from-location(
          //-       distance-between
          //-       to-lat="order.ref_lat"
          //-       to-lon="order.ref_lon"
          //-       from-coordinates="orVm.currentLocation"
              )
          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("client.client" | translate) }}
                .information.logo-image
                  img.image(
                    ng-src="{{ order.customer_order.customer_profile.image_url }}"
                  )
                  .name {{ order.customer_order.customer_profile.name }}
              .phone-number
                ng-md-icon.icon(
                  icon="phone"
                )

          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("shippingRequest.providerName" | translate) }}
                .information
                  .name {{ order.provider_profile.nombre_establecimiento}}
              //- .cost
              //-   .label
              //-    | {{ ::("order.summary.total" | translate) }}
              //-   price(amount="{{order.customer_order_delivery.shipping_fare_price_cents}}" 
              //-       currency="{{order.customer_order.subtotal_items_currency}}")
          
          .row.order-row
            .order-info
              .details
                .label
                 | {{ ::("order.summary.subtotal" | translate) }}
                .information.logo-image
                  price(amount="{{order.customer_order.subtotal_items_cents}}"
                       currency="{{order.customer_order.subtotal_items_currency}}")
              .details
                .label
                 | {{ ::("order.summary.shipping" | translate) }}
                .information.logo-image
                 price(amount="{{order.customer_order_delivery.shipping_fare_price_cents}}"
                           currency="{{order.customer_order.subtotal_items_currency}}")

          .row
            .actions
              button.button.button-small(
                ng-click="coVm.showTakeRequestModal()"
              )
                | {{ ::("shippingRequest.takeRequest" | translate) }}
          //- .row.provider.order-row
          //-   .order-info
          //-     .details
          //-       .name {{ order.provider_profile.nombre_establecimiento }}
          //-       .cost
          //-         span
          //-           | {{ ::("order.summary.subtotal" | translate) }}
          //-         span.strong
          //-           | &nbsp;
          //-           price(amount="{{order.customer_order.subtotal_items_cents}}"
          //-                 currency="{{order.customer_order.subtotal_items_currency}}")
          //-           | .
          //-         span
          //-           | &nbsp;
          //-           | {{ ::("order.summary.shipping" | translate) }}
          //-         span.strong
          //-           | &nbsp;
          //-           price(amount="{{order.customer_order_delivery.shipping_fare_price_cents}}"
          //-                 currency="{{order.customer_order.subtotal_items_currency}}")
          //-     img.img-provider(
          //-       ng-src="{{ order.provider_profile.logotipo_url }}"
          //-     )
          //- .row
          //-   .order-info
          //-     shipping-request-dispatch-at(
          //-       dispatch-at="order.estimated_dispatch_at"
          //-     )

    .list--top-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
