ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.courier-shipping-request-index-list.courier-shipping-request-common
    .filter-tabs
      a.filter-tab(
        ng-repeat="tab in ::orVm.tabs"
        ui-sref="{{::tab.sref}}"
        ng-class='{"selected": state.current.name === tab.sref}'
      )
        | {{ ("orders." + tab.key | translate) }}
        .badge {{tab.total}}

    .cards-order(ng-if="orVm.loaded")
      courier-order-card(
        ng-repeat="order in orVm.orders track by $index" 
        order="order"
        on-click="orVm.showTakeRequestModal"
      )
      
    .list--bottom-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
        
  .bottom-circle-button(
    ng-click="orVm.refreshOrders()"
  )
    ng-md-icon.icon(
      icon="refresh"
      size="20"
    )
