ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.courier-shipping-request-index-list.courier-shipping-request-common.has-footer
    .cards-order(ng-if="orVm.loaded")
      courier-order-card(
        ng-repeat="order in orVm.orders track by $index" 
        order="order"
        on-click="orVm.takeRequest"
      )
    .cards-order(ng-if="!orVm.loaded")
      skeleton(number=5)
    .list--bottom-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
        
  .bottom-circle-button(
    ng-click="orVm.refreshOrders()"
  )
    ng-md-icon.icon(
      icon="refresh"
      size="20"
    )
    
  tabs-nav(
    type="courier"
  )
