ion-view.shipping-request-show-page(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content(
      ng-class="{'has-footer':coVm.orderCustomer.status !== 'delivered'}"
    )
    .shipping-request-content.shipping-request-content--fix-scroll.courier-shipping-request-common
      .cards-order
        .card-information.invoice(
            ng-if="!coVm.orderCustomer.anon_billing_address"
          )
          .row.user.information
            .row-info
              .details
                .name.semibold {{ ::("order.invoiceInfo"|translate) }}
          .row.information
            .row-info.no-border
              .details.start
                .label {{ "client.razonSocial" | translate }}
                .name {{ ::(coVm.orderCustomer.customer_billing_address.razon_social) }}
          .row.information
            .row-info.no-border
              .details.start
                .label {{ "client.ruc" | translate }}
                .name {{ ::(coVm.orderCustomer.customer_billing_address.ruc) }}
              .details.end(
                ng-if="coVm.orderCustomer.customer_billing_address.telefono"
              )
                .label {{ "client.telefono" | translate }}
                .name {{ ::(coVm.orderCustomer.customer_billing_address.telefono) }}
          .row.information
            .row-info.no-border
              .details.start
                .label {{ "client.direccion" | translate }}
                .name {{ ::(coVm.orderCustomer.customer_billing_address.direccion) }}

          .row.information(
              ng-if="coVm.orderCustomer.customer_billing_address.email"
            )
            .row-info.no-border
              .details.start
                .label {{ "client.email" | translate }}
                .name {{ ::(coVm.orderCustomer.customer_billing_address.email) }}

        .card-information.customerInfo
          .row.user.information
            .row-info
              .details
                .name.semibold {{ ::("order.customerInfo"|translate) }}
          .row.information
            .row-info.no-border
              .details.start
                .label {{ "client.nombres" | translate }}
                .user
                  img.img-provider(
                    ng-src="{{ coVm.orderCustomer.customer_profile.image_url }}"
                  )
                  .name {{ ::(coVm.orderCustomer.customer_profile.name) || "N/A"}}
              .details.end
                .label LLAMAR
                .name
                  .phone-number
                    a(
                      ng-href="tel:{{coVm.orderCustomer.customer_profile.phone_number}}"
                    )
                      ng-md-icon.action(
                        icon="phone"
                        size="20"
                      )
          .row.information
            .row-info.no-border
              .details.start
                .label {{ ::("courier.deliveryAddresses" |translate) }}
                .name {{ ::(coVm.orderCustomer.customer_address_attributes.direccion_uno) }}
              .details.end
                .label VER MAPA
                .map
                  button.btn-map(
                    ng-click="coVm.openMap()"
                  )
                    ng-md-icon.action(
                      icon="navigation"
                      size="20"
                    )
          .row.information
            .row-info.no-border
              .details.start
                .label {{ ::("addresses.reference" |translate) }}
                .name {{ ::(coVm.orderCustomer.customer_address_attributes.referencia) }}

        .card-information.provider(
          ng-if="!coVm.orderCustomer.isErrand"
        )
          .resource-collection.user-card
            .list.list-inset.list--no-borders.resource-collection-table.narrow
              .row.table-headers
                .col.col-60 {{ coVm.orderCustomer.provider.nombre_establecimiento || coVm.orderCustomer.provider.razon_social }}
                .col.col-20 {{ ::("order.providerProfile.quantity" |translate) }}
                .col.col-20 {{ ::("order.providerProfile.price" |translate) }}
              span(ng-repeat='item in coVm.items')
                span(
                  ng-include="'templates/customer/orders/order-item-row.html'"
                )
              .resource-collection-table.text-right.order-costs
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.subtotal" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::coVm.orderCustomer.subtotalItems }}"
                            currency="{{coVm.orderCustomer.currency}}")
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.shippingCosts" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::coVm.orderCustomer.shippingPrice }}"
                          currency="{{coVm.orderCustomer.currency}}")
                .row
                  .col.col-75.label.total
                    strong
                      | {{ ::("order.summary.total" |translate) }}
                  .col.col-25.value
                    strong
                      price(amount="{{ ::coVm.orderCustomer.totalOrder }}"
                            currency="{{coVm.orderCustomer.currency}}")

        .card-information.observations(
          ng-if="coVm.orderCustomer.messageForCourier"
        )
          .row.user.information
            .row-info
              .details
                .name.semibold {{ ::("order.observations"|translate) }}
          .row.information
            .row-info.no-border
              .details.start
                .name {{ ::coVm.orderCustomer.messageForCourier }}

        .card-information.observations(
          ng-if="coVm.orderCustomer.isErrand"
        )
          .row.user.information
            .row-info
              .details
                .name.semibold {{ ::("order.observations"|translate) }}
          .row.information
            .row-info.no-border
              .details
                .name.preline {{ ::coVm.orderCustomer.description }}

  ion-footer-bar.bar-stable.item-show-footer.bar-footer--tall(
    ng-if="coVm.orderCustomer.status !== 'delivered'"
  )
    button.button-full.button-main(
      ng-if="coVm.orderCustomer.status === 'new'"
      ng-click="coVm.showTakeRequestModal()"
    )
      | {{ ::("shippingRequest.takeRequest" | translate) }}

    button.button-full.button-main(
      ng-if="coVm.orderCustomer.status === 'assigned'"
      ng-click="coVm.showConfirmRequestModal()"
    )
      | {{ ::("shippingRequest.confirmRequest" | translate) }}

    button.button-full.button-main(
      ng-if="coVm.orderCustomer.status === 'confirmed'"
      ng-click="coVm.courierIsInStore()"
    )
      | {{ ::("shippingRequest.pickingUp" | translate) }}

    button.button-full.button-main(
      ng-if="coVm.orderCustomer.status === 'in_progress'"
      ng-click="coVm.courierHasDelivered()"
    )
      | {{ ::("shippingRequest.delivered" | translate) }}
