ion-view.shipping-request-show-page(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content(
      ng-class="{'has-footer':coVm.order.status !== 'delivered'}"
    )
    .shipping-request-content.shipping-request-content--fix-scroll.courier-shipping-request-common
      .map-view(
        ng-class="{'not-load-map': coVm.mapIsHidden }"
      )
        #order-map(data-tap-disabled="true")
        
      .cards-order
        .card-order.invoice(
            ng-if="!coVm.customerOrder.anon_billing_address"
          )
          .row.user.information
            .order-info
              .details
                .name.semibold {{ ::("order.invoiceInfo"|translate) }}
          .row.information
            .order-info.no-border
              .details.start
                .label {{ "client.razonSocial" | translate }}
                .name {{ ::(coVm.customerOrder.customer_billing_address.razon_social) }}
          .row.information
            .order-info.no-border
              .details.start
                .label {{ "client.ruc" | translate }}
                .name {{ ::(coVm.customerOrder.customer_billing_address.ruc) }}
              .details.end
                .label {{ "client.telefono" | translate }}
                .name {{ ::(coVm.customerOrder.customer_billing_address.telefono) }}
          .row.information
            .order-info.no-border
              .details.start
                .label {{ "client.direccion" | translate }}
                .name {{ ::(coVm.customerOrder.customer_billing_address.direccion) }}
                
          .row.information
            .order-info.no-border
              .details.start
                .label {{ "client.email" | translate }}
                .name {{ ::(coVm.customerOrder.customer_billing_address.email) }}

        .card-order
          .row.user.information
            .order-info
              .details
                .name.semibold {{ ::("order.customerInfo"|translate) }}
          .row.information
            .order-info.no-border
              .details.start
                .label {{ "client.nombres" | translate }}
                .user
                  img.image(
                    ng-src="{{ coVm.customerOrder.customer_profile.image_url }}"
                  )
                  .name {{ ::(coVm.customerOrder.customer_profile.name) || "N/A"}}
              .details.end
                .label LLAMAR
                .name 
                  .phone-number
                    a(
                      ng-href="tel:{{coVm.customerOrder.customer_profile.phone_number}}"
                    )
                      ng-md-icon.action(
                        icon="phone"
                        size="20"
                      )
          .row.information
            .order-info.no-border
              .details.start
                .label {{ ::("courier.deliveryAddresses" |translate) }}
                .name {{ ::(coVm.customerOrderDelivery.customer_address_attributes.direccion_uno) }}
              .details.end
                .label VER MAPA
                .map
                  button.btn-map(
                    ng-click="coVm.toogleMap()"
                  )
                    ng-md-icon.action(
                      icon="navigation"
                      size="20"
                    )
          .row.information
            .order-info.no-border
              .details.start
                .label {{ ::("addresses.reference" |translate) }}
                .name {{ ::(coVm.customerOrderDelivery.customer_address_attributes.referencia) }}
        
        .card-order
          .resource-collection.user-card
            .list.list-inset.list--no-borders.resource-collection-table.narrow
              .row.table-headers
                .col.col-60 {{ coVm.provider.nombre_establecimiento || coVm.provider.razon_social }}
                .col.col-20 {{ ::("order.providerProfile.quantity" |translate) }}
                .col.col-20 {{ ::("order.providerProfile.price" |translate) }}
              span(ng-repeat='item in coVm.items')
                span(
                  ng-include="'templates/customer/orders/order-item-row.html'"
                )
              .resource-collection-table.text-right.order-costs
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.subtotal" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::coVm.subtotalItems }}"
                            currency="{{coVm.customerOrder.subtotal_items_currency}}")
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.shippingCosts" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::coVm.shippingPrice }}"
                          currency="{{coVm.customerOrder.subtotal_items_currency}}")
                .row
                  .col.col-75.label.total
                    strong
                      | {{ ::("order.summary.total" |translate) }}
                  .col.col-25.value
                    strong
                      price(amount="{{ ::coVm.totalOrder }}"
                            currency="{{coVm.customerOrder.subtotal_items_currency}}")

      .card-order(
        ng-if="coVm.customerOrder.observaciones"
      )
        .row.user.information
          .order-info
            .details
              .name.semibold {{ ::("order.observations"|translate) }}
        .row.information
          .order-info.no-border
            .details.start
              .name {{ ::coVm.customerOrder.observaciones }}

  ion-footer-bar.bar-stable.text-center(
    ng-if="coVm.order.status !== 'delivered'"
  )
    button.button.button-outline.button-energized.button-small(
      ng-if="coVm.order.status === 'new'"
      ng-click="coVm.showTakeRequestModal()"
    )
      | {{ ::("shippingRequest.takeRequest" | translate) }}
    button.button.button-outline.button-energized.button-small(
      ng-if="coVm.order.status === 'assigned'"
      ng-click="coVm.courierIsInStore()"
    )
      | {{ ::("shippingRequest.pickingUp" | translate) }}
    button.button.button-outline.button-energized.button-small(
      ng-if="coVm.order.status === 'in_progress'"
      ng-click="coVm.courierHasDelivered()"
    )
      | {{ ::("shippingRequest.delivered" | translate) }}
