ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo
  .filter-tabs.tabs-header
    .filter-tab(
      ng-repeat="tab in ::customerOrdersVm.tabs"
      ng-click="::tab.onClick(tab.key)"
      ng-class="{'selected': customerOrdersVm.currentTab === tab.key}"
    )
      | {{ ("orders." + tab.key | translate) }}
  ion-content.customer-my-orders.has-footer.has-tabs-header
    .orders(ng-if="customerOrdersVm.loaded")
      order-card(
        ng-repeat="customerOrder in customerOrdersVm.orders track by $index"
        order="customerOrder"
      )
    .orders(ng-if="!customerOrdersVm.loaded")
      skeleton(number=5)
      
    .list--top-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
  tabs-nav
