ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo
  ion-content.customer-my-orders
    .filter-tabs
      .filter-tab(
        ng-repeat="tab in ::customerOrdersVm.tabs"
        ng-click="::tab.onClick(tab.key)"
        ng-class="{'selected': customerOrdersVm.currentOrderType === tab.key}"
      )
        | {{ ("orders." + tab.key | translate) }}
    .orders
      order-card(
        ng-repeat="customerOrder in customerOrdersVm.orders track by $index"
        order="customerOrder"
      )

    .list--top-narrow
      p.text-center
        | {{ ::("shippingRequest.noMoreItems" | translate) }}
