ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo
  ion-content.submitted-customer-order-preview.has-footer
    .cards-order
      .providers(
        ng-repeat='provider in customerOrderVm.customerOrder.provider_profiles track by $index'
      )
        .card-information.no-space
          .row.user.information
            .row-info
              .details
                .name.semibold {{ ::("order.orderInfo"|translate) }}
          .row.information
            .row-info.no-border
              .details
                .label {{ "shippingRequest.courier" | translate }}
                .name {{ ::(provider.customer_order_delivery.shipping_request.courier_profile.nombres) || "N/A"}}
            .row-info.no-border
              .details
                .label {{ "shippingRequest.estimatedTime" | translate }}
                .name
                  .date(
                    ng-if="provider.customer_order_delivery.courier_delivery_at"
                  )
                    humanized-countdown-time(
                      time="provider.customer_order_delivery.courier_delivery_at"
                      suffix=" - "
                    )
                    span {{ ::(provider.customer_order_delivery.courier_delivery_at | toDate | formatDate:'hourAndDate') }}
                  .date(
                    ng-if="!provider.customer_order_delivery.courier_delivery_at"
                  ) 
                    | N/A
            .row.information
            .row-info.no-border
              .details
                .label {{ ::("courier.deliveryAddresses" |translate) }}
                .name {{ ::(provider.customer_order_delivery.customer_address_attributes.direccion_uno) }}
              
          .row.information
            .row-info.no-border
              .details
                .label {{ ::("addresses.reference" |translate) }}
                .name {{ ::(provider.customer_order_delivery.customer_address_attributes.referencia) }}
        
        .card-information.provider
          .resource-collection.user-card
            .list.list-inset.list--no-borders.resource-collection-table.narrow
              .row.table-headers
                .col.col-60 {{ provider.nombre_establecimiento || provider.razon_social }}
                .col.col-20 {{ ::("order.providerProfile.quantity" |translate) }}
                .col.col-20 {{ ::("order.providerProfile.price" |translate) }}
              span(ng-repeat='item in provider.customer_order_items')
                span(
                  ng-include="'templates/customer/orders/order-item-row.html'"
                )
              .resource-collection-table.text-right.order-costs
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.subtotal" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::provider.subTotalCentsOrderProvider }}"
                          currency="{{customerOrderVm.customerOrder.subtotal_items_currency}}")
                .row
                  .col.col-75.label
                    | {{ ::("order.summary.shippingCosts" |translate) }}
                  .col.col-25.value
                    price(amount="{{ ::provider.customer_order_delivery.shipping_fare_price_cents }}"
                          currency="{{customerOrderVm.customerOrder.subtotal_items_currency}}")
                .row
                  .col.col-75.label.total
                    strong
                      | {{ ::("order.summary.total" |translate) }}
                  .col.col-25.value
                    strong
                      price(amount="{{ ::provider.totalCentsOrderProvider }}"
                            currency="{{customerOrderVm.customerOrder.subtotal_items_currency}}")

      .card-information.observations(
        ng-if="customerOrderVm.customerOrder.observaciones"
      )
        .row.user.information
          .row-info
            .details
              .name.semibold {{ ::("order.message"|translate) }}
        .row.information
          .row-info.no-border
            .details.start
              .name {{ ::customerOrderVm.customerOrder.observaciones }}  
    
      .card-information.invoice(
          ng-if="customerOrderVm.customerBillingAddress"
        )
        .row.user.information
          .row-info
            .details
              .name.semibold {{ ::("order.invoiceInfo"|translate) }}
        .row.information
          .row-info.no-border
            .details
              .label {{ "client.razonSocial" | translate }}
              .name {{ ::(customerOrderVm.customerBillingAddress.razon_social) }}
        .row.information
          .row-info.no-border
            .details
              .label {{ "client.ruc" | translate }}
              .name {{ ::(customerOrderVm.customerBillingAddress.ruc) }}
            .details.end(
              ng-if="customerOrderVm.customerBillingAddress.telefono"
            )
              .label {{ "client.telefono" | translate }}
              .name {{ ::(customerOrderVm.customerBillingAddress.telefono) }}
        .row.information
          .row-info.no-border
            .details
              .label {{ "client.direccion" | translate }}
              .name {{ ::(customerOrderVm.customerBillingAddress.direccion) }}
        .row.information(
            ng-if="customerOrderVm.customerBillingAddress.email"
          )
          .row-info.no-border
            .details.start
              .label {{ "client.email" | translate }}
              .name {{ ::(customerOrderVm.customerBillingAddress.email) }}    

  tabs-nav
